<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->

            <link rel="stylesheet" href="{{ asset('../public/build/app.css') }}">
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,600" media="all">

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('./../public/build/runtime.js') }}"></script>
            <script src="{{ asset('./../public/build/materialize.js') }}"></script>
            <script src="{{ asset('./../public/build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
